* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    color: #0000ff;
    max-width: 1100px;
    margin: 0 auto;
    border: 1px solid #000;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    border: 1px solid #00f;
}


nav a:hover {
    background-color: aqua;
    color: #555;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 10px 20px;
    border: 3px solid #090;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

form {
    margin: 0 100px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border: 5px double #0f0;
    background-color: #ffff00;
    /* display: grid; */
}

.form-group {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

input, select {
    margin: 5px;
    outline: #00f 2px;
}

/* .container {
    display: flex;
} */

#submit {
    margin: 0 auto;
    background-color: #f0f;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    /* text-align: center; */
}

#submit:hover {
    background-color: #070;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 20px;
}

table thead {
    background-color: #ff9f00;
    color: #00f;
}


table tr:hover {
    background-color: #ff0f00;
}


tbody tr {}